@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .stack-icon {
    @apply transition-all duration-700 hover:scale-125 hover:z-10;
  }
}

/* BEGIN IMAGE TILT EFFECT */

.tilt-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
}
.tilt-hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}
.tilt-hover-point:nth-child(1) {
  top: 0;
  left: 0;
}
.tilt-hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.tilt-hover-point:nth-child(3) {
  top: 0;
  right: 0;
}
.tilt-hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}
.tilt-hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}
.tilt-hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}
.tilt-hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}
.tilt-hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}

.tilt-hover-point:nth-child(1):hover ~ .tilt-image {
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}
.tilt-hover-point:nth-child(2):hover ~ .tilt-image {
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}
.tilt-hover-point:nth-child(3):hover ~ .tilt-image {
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}
.tilt-hover-point:nth-child(4):hover ~ .tilt-image {
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}
.tilt-hover-point:nth-child(5):hover ~ .tilt-image {
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}
.tilt-hover-point:nth-child(6):hover ~ .tilt-image {
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}
.tilt-hover-point:nth-child(7):hover ~ .tilt-image {
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}
.tilt-hover-point:nth-child(8):hover ~ .tilt-image {
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

/* END IMAGE TILT EFFECT */
